@mixin clearfix{
    &::after{
        content:"";
        clear: both;
        display:table;
    }
}


//MEDIA QUERY MANAGER
/*
0PX - 600PX PHONE
600PX- 900PX TABLET PORTRAIT
900PX - 1200PX TABLET LANDSCAPE
1200PX - 1800PX ----NORMAL STYLES----
1800PX - ~ BIG DESKTOP


$breakpoint options
-- phone
--tab-portrait
--tab-landscape
--big-desktop
*/

//ORDER: Base + typography > general layout + grid > page layout > components

//1em = 16px

@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 37.5em){ @content } ; //600px
    }
    @if $breakpoint == tab-portrait{
        @media (max-width: 56.25em){ @content } ;  //900px
    }
    @if $breakpoint == tab-landscape{
        @media (max-width: 75em){ @content } ; //1200px
    }
    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em){ @content } ;  //1800px
    }

}